@{
    ViewBag.Title = "Algo de errado não está certo.";
}

<div class="row">
    <div class="col-md-2 col-md-offset-1" style="padding:50px 0 50px 50px; border:1px none #ff0000">
        <img src="~/Content/Images/img_icons/icons8-Tornado-100.png" width="100" height="100" />
    </div>
    <div class="col-md-9" style="border:1px none #4cff00">
        <hr />
        <h1>Oops!</h1>
        <h3>Algo de errado não está certo.</h3>
        <h4>Ocorreu uma exceção ao processar sua solicitação.</h4>
        <div>&nbsp;</div>
    </div>
</div>
