<ul id="top-menu" class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle count-info" data-hover="dropdown" data-toggle="dropdown" href="#" id="settingsLink">
            <i class="fa fa-cog">&nbsp;</i>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="@Url.Action("Index", "Panel", new { Area = "Admin" })"><i class="fa fa-cogs">&nbsp;&nbsp;</i>Painel Administrativo</a></li>
        </ul>
    </li>

</ul>