@{
    ViewBag.Title = "Falha no Login";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <section class="content-header">
                <h1> @ViewBag.Title <small></small> </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>
            <section class="content">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">zzzzzzzzz</h3>
                    </div>
                    <div class="box-body">
                        <hgroup>
                            <h2>@ViewBag.Title.</h2>
                            <h3 class="text-danger">Falha ao tentar realizar o login com o serviço selecionado.</h3>
                        </hgroup>

                    </div><!-- /.box-body -->
                </div><!-- /.box box-default -->
            </section><!-- /.content -->
        </div><!-- /.col-lg-12 col-md-12 -->
    </div><!-- /.row -->
</div><!-- /.container -->

